/* Style notes */
/* Layout: flexbox with container-row-column */
/* Theme: Mountain */
/* Background color body: rgb(40, 42, 44) */
/* Background color container (app): rgb(27, 27, 27) */
/* Light Font color: rgb(208, 212, 212) */
/* Dark font color (same as container background): rgb(27, 27, 27)  */
/* Accent yellow: #fcf580 */
/* Background images:  */

html {
    font-size: 10px;
}

body {
    text-align: center;
    background-color: rgb(40, 42, 44);
    Color: rgb(208, 212, 212);
    font-family: 'Crimson Text', serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; 
    background-color: rgb(27, 27, 27);
    overflow: hidden;
}

.row {
    display: flex;
}

.col {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto; 
}

.col-3 {
    flex-basis: 25%; 
}

.col-4 {
    flex-basis: 33.3333333%;
}

.col-6 {
    flex-basis: 50%;
}

.col-9 {
    flex-basis: 75%; 
}

.col-12 {
    flex-basis: 100%;
}

nav {
    height: auto; 
    background-color: rgb(58, 61, 65);
    font-size: 1.2rem; 
    display: flex; 
}

.auth-text {
    font-size: 3rem; 
    font-style: italic;
    padding: 10px 0; 
}

.header {
    background: url(../images/header_background.PNG);
    background-size: cover;
    background-position: center;
    height: 150px;
}

h1 {
    color:  rgb(40, 42, 44);
    font-size: 4.8rem;
    font-weight: 600;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

h2, h3 {
    font-size: 2.4rem;
    font-weight: 400;
    padding: 5px;
    font-weight: 800;
    text-decoration: underline;
}

h3 {
    padding: 40px;
}

.metrics {
    padding-top: 10px;
}

.metrics .col-6:first-child {
    border-right: rgb(208, 212, 212) 1px solid;
}

.metrics #chartView{
    max-width: 100%;
}

.timerUI {
    padding: 10px;
    margin: 0;
    background-color: #fcf580;
    color:  rgb(27, 27, 27);
    height: auto;
}

.timerUI col-6 {
    text-align: center;
}

#nameActivity {
    color: #6b6b6c;
    font-size: 2.4rem; 
    width: 40rem; 
    padding: 4px 0px 4px 4px; 
}

#timer {
    margin: auto 0;
}

.tableDiv {
    padding: 5%;
}

table {
    table-layout: fixed;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

thead {
    border-bottom: rgb(208, 212, 212) 1px solid;
}

th, td {
    padding: 4px;
    font-size: 1.6rem;
}

.name {
    font-style: italic;
}

#nav-sign-in, #nav-sign-up, .timerHide, #log-out-div, #log-in-prompt {
    display: none; 
}


/* show timer for dev purposes only - delete before merging */
.timerHide {
    display: block; 
}

/* COMMON ELEMENTS */

button {
    background-color: #fbc42a;
    color: rgb(27, 27, 27);
    border: none; 
    border-radius: 50px;
    width: 130px;
    height: 40px; 
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 800; 
    margin: 10px;
}

button:hover {
    cursor: pointer;
}

input {
    border-radius: 3px; 
    padding: 3px; 
    font-size: 1.6rem; 
    width: 100%; 
    max-width: 300px; 
    margin: 5px auto 5px 3px;
    height: 20px; 
}

label {
    display: block;
    font-size: 1.4rem;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    html {
        font-size: 8px;
    }

    .row {
        display: block; 
    }
}

